:root {
    --background-color: white;
    --text-color: black;
  }
  
  [data-theme='dark'] {
    --background-color: #1c1c1c;
    --text-color: white;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  